.job_view {
  background-color: #fff;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin: 2rem 2rem;
  position: relative;
  box-shadow: 0px 4px 6px 4px rgba(57, 56, 56, 0.2);

  .job_title {
    font-weight: 700;
  }

  .description {
    ul {
      margin-left: 40px;
    }
  }

  .applyJob {
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }

    @media only screen and (max-width: 375px) {
      margin-bottom: 1rem;
    }

    background-color: hsl(180, 89%, 11%);
    color: white;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
}
